https://www.kaggle.com/code/mruanova/decision-tree-for-comedy-shows-w3schools/data

In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from pickle import dump, load

/Users/iaquine/opt/anaconda3/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
df = pd.read_csv('/Users/iaquine/Documents/GitHub/Projetos-Escola-de-Cientista/Projeto 1/Data/shows.csv')
df.head(10)

   Age  Experience  Rank Nationality   Go
0   36          10     9          UK   NO
1   42          12     4         USA   NO
2   23           4     6           N   NO
3   52           4     4         USA   NO
4   43          21     8         USA  YES
5   44          14     5          UK   NO
6   66           3     7           N  YES
7   35          14     9          UK  YES
8   52          13     7           N  YES
9   35           5     9           N  YES

In [3]:
df.dtypes

Age             int64
Experience      int64
Rank            int64
Nationality    object
Go             object
dtype: object

Para usar Árvores de Decisão, todos os dados devem ser numéricos. Vamos transformar os campos de texto em categorias numéricas usando a função **map()**.

In [4]:
df['Nationality'].value_counts()

UK     5
USA    4
N      4
Name: Nationality, dtype: int64

In [5]:
df['Nationality'] = df['Nationality'].map({'UK':0, 'USA':1, 'N':2})
df['Nationality'].value_counts()

0    5
1    4
2    4
Name: Nationality, dtype: int64

In [6]:
df['Go'].value_counts()

YES    7
NO     6
Name: Go, dtype: int64

In [7]:
df['Go'] = df['Go'].map({'YES':1, 'NO':0})
df['Go'].value_counts()

1    7
0    6
Name: Go, dtype: int64

In [8]:
df.head(10)

   Age  Experience  Rank  Nationality  Go
0   36          10     9            0   0
1   42          12     4            1   0
2   23           4     6            2   0
3   52           4     4            1   0
4   43          21     8            1   1
5   44          14     5            0   0
6   66           3     7            2   1
7   35          14     9            0   1
8   52          13     7            2   1
9   35           5     9            2   1

In [9]:
#separando o dataset
atributos_nomes = ['Age','Experience','Rank','Nationality']
atributos = df[atributos_nomes]
classes = df['Go']

In [10]:
#construindo o modelo
arvore = DecisionTreeClassifier()
arvore = arvore.fit(atributos, classes)

In [11]:
#salvando o modelo
filename = 'arvore_model2.pkl'
dump(arvore, open(filename, 'wb'))

In [12]:
#Com o modelo construido vamos testar novos valores
#Para: Age = 50, Experience = 10,Rank = 7,Nationality = 1
print(arvore.predict([[50,10,7,1]]))

[1]

In [13]:
#Para: Age = 50, Experience = 10,Rank = 4,Nationality = 1
print(arvore.predict([[50,10,4,1]]))

[0]

In [14]:
"""
model.fit(X_train, Y_train)
# save the model to disk
filename = 'finalized_model.sav'
pickle.dump(model, open(filename, 'wb'))
 
# load the model from disk
loaded_model = pickle.load(open(filename, 'rb'))
result = loaded_model.score(X_test, Y_test)
"""

"\nmodel.fit(X_train, Y_train)\n# save the model to disk\nfilename = 'finalized_model.sav'\npickle.dump(model, open(filename, 'wb'))\n \n# load the model from disk\nloaded_model = pickle.load(open(filename, 'rb'))\nresult = loaded_model.score(X_test, Y_test)\n"

In [15]:
modelo = load(open(filename, 'rb'))
print(modelo.predict([[50,10,4,1]]))

[0]